/* src/components/HomeButton.css */
.home-button {
  background-color: #0f1e3c;
  color: white;
  padding: 10px 15px;
  border-radius: 8px;
  cursor: pointer;
  width: fit-content;
  font-weight: bold;
  margin: 10px;
  user-select: none;
}

.home-button:hover {
  background-color: #1e345c;
}
